name: ui_router
description: >
  Super Simple, Minimal, Lightweight Router.
  Easy to use and organize the pages on your application.
version: 1.1.2
homepage: https://github.com/rbdog/ui_router
repository: https://github.com/rbdog/ui_router

environment:
  sdk: ">=2.17.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:

